---

import Layout from '../layouts/Layout.astro';

import SocialPill from '../components/SocialPill.astro';
import GitHub from '../components/icons/GitHub.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Mail from '../components/icons/mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Proyects.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Tecno from '../components/Tecno.astro';

---
<Layout title="Portafolio de kirivan- Tecn칩logo en desarrollo de sistemas inform치ticos" description="Portafolio de kirivan- Tecn칩logo en desarrollo de sistemas inform치ticos">
	<main>
		<SectionContainer className="pt-10 pb-20 px-4 sm:px-0">
			<div class="bg-gradient-to-br from-[#0f0f0f] via-[#1a1a1a] to-[#1000] rounded-2xl p-8 sm:p-12 max-w-4xl mx-auto border border-gray-800">
			  
			  <div class="flex items-center gap-4">
				<img
				  src="https://avatars.githubusercontent.com/u/123826376?v=4"
				  alt="Foto de kirivan"
				  class="rounded-full w-20 h-20 sm:w-24 sm:h-24 border-2 border-blue-400 shadow-md"
				/>
				<div>
				  <h1 class="text-white text-3xl md:text-4xl font-bold leading-tight">
					Hola, soy Iv치n Sierra
				  </h1>
				  <h2>Tecn칩logo en Desarrollo de Sistemas Inform치ticos</h2>
				  <a
					href="https://www.linkedin.com/in/ivan-dario-sierra-vega-33300123a/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-flex items-center gap-2 mt-2 text-sm text-blue-300 hover:text-blue-500 transition-colors duration-200"
					aria-label="Perfil de LinkedIn"
				  >
					<Badge>Disponible para trabajar</Badge>
				  </a>
				</div>
			  </div>
		  
			  <p class="mt-6 text-gray-300 text-lg leading-relaxed">
				Soy un apasionado por la tecnolog칤a y la Industria 4.0.
				<span class="text-yellow-300 font-semibold"> Desarrollador de software. </span> 
				<span class="text-blue-400 font-medium"> De Bucaramanga, Colombia.</span> siempre estoy en busca de nuevos retos que me permitan seguir aprendiendo y creciendo como desarrollador. 游녧
			  </p>
		  
			  <nav class="flex flex-wrap gap-4 mt-10">
				<SocialPill href="https://github.com/kirivanCode" target="_blank" rel="noopener noreferrer">
				  <GitHub className="size-6" />
				  <span>GitHub</span>
				</SocialPill>
		  
				<SocialPill href="https://www.linkedin.com/in/ivan-dario-sierra-vega-33300123a/" target="_blank" rel="noopener noreferrer">
				  <LinkedIn class="size-6" />
				  <span>LinkedIn</span>
				</SocialPill>
		  
				<SocialPill href="mailto:ivansierravega18@gmail.com" target="_blank" rel="noopener noreferrer">
				  <Mail class="size-6" />
				  <span class="break-words">ivansierravega18@gmail.com</span>
				</SocialPill>

				<SocialPill href="/projects/CV.pdf" download="Ivan_Sierra_CV.pdf">
					<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-cv"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" /><path d="M13 11l1.5 6l1.5 -6" /></svg>
					<span>Descargar CV</span>
				</SocialPill>
			  </nav>
			</div>
		  </SectionContainer>
		  
		  
		  <div class="flex flex-wrap gap-4 mt-10">
	
		<div id="experiencia" class=" pt-3 bg-gradient-to-br from-[#0f0f0f] via-[#1a1a1a] to-[#1000] rounded-2xl  p-8 sm:p-12 max-w-4xl mx-auto border border-gray-800">
		<SectionContainer>
			
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pr-2">
				<Briefcase class="text-blue-500 size-6" />
				<span class="text-gray-300">Perfil Profesional</span>
			</h2>
			
		<Experience	/>

	</SectionContainer>

		
			
		

	   </div>

	   
	<div id="proyectos" class="pt-24 bg-gradient-to-br from-[#0f0f0f] via-[#1a1a1a] to-[#1000] rounded-2xl p-8 sm:p-12 max-w-4xl mx-auto border border-gray-800">
	<SectionContainer >
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center pr-2">
				<Code class="text-blue-500 size-6" />
				<span class="text-gray-300">Proyectos</span>
			</h2>

		<p class="text-gray-400 mb-4">
			Estoy en proceso de actualizar mi portafolio con nuevos proyectos.
			<span class="text-blue-500">춰Estoy trabajando en m치s!</span>
		</p>
		<Projects />
	</div>
		

</SectionContainer>


	<div id ="tecno" class="flex justify-center ">
		<Tecno />
	</div>

		  
	</main>
</Layout>
