<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
  <nav class="flex flex-wrap justify-center gap-4 sm:gap-6 md:gap-10 text-sm sm:text-base">

    <a href="#top" class="hover:underline transition"> Inicio</a>
    <a href="#experiencia" class="hover:underline transition">Progreso</a>
    <a href="#proyectos" class="hover:underline transition">Proyectos</a>
    <a href="#contacto" class="hover:underline transition">Contacto</a>
  </nav>
</header>
