<header class="w-full flex flex-wrap items-center justify-between gap-y-4 py-5 px-4 sm:px-8 md:px-16 lg:px-32 pb-12">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgFbYel7I64Y9fEqJ3Q_23nbakLYaABspQnw&s" 
         alt="kirivan photo"
         class="rounded-full w-16 h-16 sm:w-20 sm:h-20" />
    <nav class="flex flex-wrap gap-4 sm:gap-6 md:gap-10 text-sm sm:text-base">
      <a href="/" class="hover:underline transition">Home</a>
      <a href="/projects" class="hover:underline transition">Proyectos</a>
      <a href="/contact" class="hover:underline transition">Contacto</a>
    </nav>
  </header>
  